
<table>
    <tr>
        <td>
            ID:
        </td>
        <td>
            {{ game?.id }}
        </td>
    </tr>
    <tr>
        <td>
            Nome:
        </td>
        <td>
            {{ game?.name }}
        </td>
    </tr>
    <tr>
        <td>
            Genere:
        </td>
        <td>
            {{ game?.genereId }} 
        </td>
    </tr>
  <!--   <tr>
        <td>
            Data rilascio:
        </td>
        <td>
            {{ game?.annoUscita | date }}
        </td>
    </tr>
    <tr>
        <td>
            Descrizione:
        </td>
        <td>
            {{ game?.description }}
        </td>
    </tr>-->
</table> 